// 滚动条
$scrollbarSize: 0.06rem;

// 颜色
$colorPrimary: rgb(59, 121, 202);
$colorPrimaryLight: rgb(113, 177, 255);
$colorInfo: rgb(160, 205, 255);
$colorSuccess: rgb(91, 214, 144);
$colorWarning: rgb(255, 181, 64);
$colorDanger: rgb(255, 67, 67);
$colorError: $colorDanger;
$colorYellow: rgb(255, 233, 113);
$colorOrange: rgb(255, 121, 90);
$colorYoung: rgb(87, 238, 255);

// 布局
$headerHeight: 1.46rem;
$footerHeight: 1.24rem;
